.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
  height: 600px;
  width: 600px;
}

.item {
  align-self:flex-start;
  width: 300px;
  flex-wrap:wrap;


}

.green {
  background: green;
  height: 100px;
}

.yellow {
  background: yellow;
  flex-grow: 2;
}
.purple {
  background: purple;
  height: 100px;
}