.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item {
  align-self: flex-end;
  height: 100px;
  width: max-content;
  flex-grow: 1;
  flex-wrap:wrap;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}
.purple {
  background: purple;
}