* {
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  align-items: center;
  /*justify-content: space-around;*/
  background: yellow;
  height: 300px;
  column-gap: 10px;
}

.item{
  list-style: none;
  background: purple;
  height: 100px;
  width: 100px;
}